---
interface Props {
  title: string;
  body: string;
  href: string;
}

const { href, title, body } = Astro.props;
---

<div class="card w-96 shadow-xl">
  <figure><slot></slot></figure>
  <div class="card-body">
  <h2 class="card-title">{title}</h2>
  <p>{body}</p>
  </div>
  <div class="card-actions justify-end"><a href={href} class="btn btn-link p-3">Learn more</a></div>
</div>