---
---

<!-- <div
  class="w-screen p-2 flex justify-between items-center border-b-4 border-b-cyan-600"
>
  <div class="m-2 text-xl font-semibold">
    <a
      href="Resume.pdf"
      class="p-2 text-white rounded-lg bg-cyan-600 hover:bg-cyan-800 transition-colors"
      >Download Resume</a
    >
  </div>
  <nav class="flex">
    <div class="m-2">About</div>
    <div class="m-2">Projects</div>
    <div class="m-2"><a href="/count-cash">Count the Cash</a></div>
    <div class="m-2">Contact</div>
  </nav>
</div> -->
<div class="navbar">
    <div class="flex-1">
    <a href="Resume.pdf" class="btn btn-accent text-lg">My Resume</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li><a href="/count-cash" class="navbar__links__link">Count Cash</a></li>
    </ul>
  </div>

</div>