---
---

<div class="navbar">
    <div class="flex-1">
    <a href="CV.pdf" class="btn btn-accent text-lg">Download CV</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li><a href="/count-cash" class="navbar__links__link">Count Cash</a></li>
    </ul>
  </div>

</div>